{% load staticfiles %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Projekat Django Karte</h1>
        <p>Projekat predstavlja rezultat smeinarskog rada <b>"Radni okvir za veb: Django i njegova primena u izradi GIS aplikacija"</b> iz predmeta GIS programiranje, Građevinskog fakulteta Univerziteta u Beogradu, odskea za gedeziju i geoinformatiku.</p>
        <p>
          <a class="btn btn-lg btn-primary text-center" href="https://nempau.gitbooks.io/djangokartedoc/content/" role="button">DjangoKarteDoc &raquo;</a>
          <a class="btn btn-lg btn-primary center-block" href="https://github.com/nempau/djangoKarte" role="button"> GitHub &raquo;</a>
        </p>
      </div>